{% extends "booking/base.html" %}
{% load static %}

{% block title %}
Woodland Heath Golf Club
{% endblock %}

{% block content %}

<div>
    <img src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway">
</div>

{% if messages %}
{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


{% endblock %}