/* Navbar custom styling */

#navbar {
    z-index: 1;
    background-color: #FFFFFF !important;
    /* To override !important user is Bootstrap */
}

.right-align {
    flex-direction: row-reverse;
}

.align-right {
    text-align: right;
}

@media only screen and (min-width: 992px) {
    .align-right {
        position: absolute;
        right: 10px;
    }
}

#toggle {
    position: absolute;
    right: 10px
}

.logo_nav {
    width: 200px;
    height: auto;
}

/* Home Page */

.landing_img {
    position: fixed;
    top: 0;
    object-fit: cover;
}

#background-img {
    z-index: -1;
}


/* Button styling for forms */

.padding-25 {
    padding: 25px;
}

/* Booking Form Styling */


input.hidden-radio {
    display: none;
}

ul.hidden-radio>li {
    display: inline-flex;
    list-style-type: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-bottom: 5px;
}


ul.hidden-radio>li>label {
    text-align: center;
    width: 50px;
}

ul.hidden-radio>li.pressed {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #0b4d57 100%);
    background-color: #599bb3;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

#id_number_players {
    font-weight: 600;
}

/* Member Zone styling */

.member-btn {
    margin: 15px;
}

/* Booking Display styling */

.booking-display {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.booking-info {
    display: contents;
}

/* Edit Booking Display styling */

.text-spacing {
    margin-bottom: 0px;
}