/* Navbar custom styling */

#navbar {
    z-index: 1;
    background-color: #FFFFFF;
}

.right-align {
    flex-direction: row-reverse;
}

.align-right {
    text-align: right;
}

@media only screen and (min-width: 992px) {
    .align-right {
        position: absolute;
        right: 10px;
    }
}

#toggle {
    position: absolute;
    right: 10px
}

.logo_nav {
    width: 200px;
    height: auto;
}

/* Home Page */

.landing_img {
    position: fixed;
    top: 0;
    object-fit: cover;
}