{% extends "general/base.html" %}
{% load static %}

{% block title %}
Woodland Heath Golf Club - About
{% endblock %}

{% block content %}
<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway" />
</div>

<div
    class="container-sm rounded-top-4 rounded-bottom-4 padding-25 margin-25px bg-light text-dark bg-opacity-75 justify-content-center text-center">

    <h4 class="padding-25">Facilities at Woodland Heath!</h4>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col img-holder">
            <img src="{% static 'images/facilities-1.jpg' %}" class="facility-img" alt="Golf Buggies">
            <p class="text">Hire Golf Buggies</p>
        </div>
        <div class="col img-holder">
            <img src="{% static 'images/facilities-2.jpg' %}" class="facility-img" alt="Driving Range">
            <p class="text">Driving Range</p>
        </div>
        <div class="col img-holder">
            <img src="{% static 'images/facilities-3.jpg' %}" class="facility-img" alt="Practice Putting Greens">
            <p class="text">Practice Greens</p>
        </div>
        <div class="col img-holder">
            <img src="{% static 'images/facilities-4.jpg' %}" class="facility-img" alt="Pro Lessons">
            <p class="text">Pro Lessons</p>
        </div>
        <div class="col img-holder">
            <img src="{% static 'images/facilities-5.jpg' %}" class="facility-img" alt="Pro Shop">
            <p class="text">Pro Shop</p>
        </div>
        <div class="col img-holder">
            <img src="{% static 'images/facilities-6.jpg' %}" class="facility-img" alt="Mini Golf">
            <p class="text">Mini Golf</p>
        </div>





    </div>

</div>



{% endblock %}