{% extends "general/base.html" %} {% load static %} {% block title %} Woodland
Heath Golf Club - Book a Tee Time {% endblock %} {% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway" />
</div>

<div class="padding-25 row justify-content-center">
    <form action="" method="POST"
        class="row rounded-top-4 rounded-bottom-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
        {% csrf_token %}
        <div class="text-center">
            <h1>Book a tee time!</h1>
            <br />
            <p>Date Selected: {{ booked_date }}</p>

        </div>

        {{ form }}
    
        <div id="booking_submit" class="padding-25 text-center">
            <button type="submit" class="btn btn-secondary">Book Time</button>
        </div>

        <div>
            <a href = "{% url 'booking_date' %} "><h6>Choose Another Date</h6></a>
        </div>

        <div id="error_container" class="d-none padding-25 text-center">
            <p id="date_error"></p>
        </div>
    </form>
</div>

<script>
    let slots = "{{ booked_slots }}";
    var newslots = slots.split(',');

    let new_times = newslots.map(getTime);

    function getTime(slot) {
        console.log(slot);
        let timeArray = new Array();

        timeArray.push(String(slot[34]));
        timeArray.push(String(slot[35]));
        timeArray.push(String(slot[36]));
        timeArray.push(String(slot[37]));
        timeArray.push(String(slot[38]));

        let times = timeArray.toString();
        times = times.replace(/,/g, "");

        console.log(times);
        return times;
    };

    console.log(new_times);


    for (let i = 0; i < new_times.length; i++) {
        console.log(new_times[i]);

        $(document).ready(function () {
            $('ul.hidden-radio input:radio').each(function () {
                if ($(this).attr('value') == new_times[i]) {
                    $(this).closest('li').addClass("d-none");
                };

            });
        });
    }


    $(document).ready(function () {
        $("#test").text(slots);
    });

</script>

<p id="test"></p>

{% endblock %}