{% extends "general/base.html" %}
{% load static %}
{% block title %} Woodland Heath Golf Club - Member Zone {% endblock %}

{% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway">
</div>

<!-- form to select booking date to proceed to view available times -->
<section class="padding-25 row justify-content-center">
    <form action="" method="POST"
        class="row rounded-top-4 rounded-bottom-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
        {% csrf_token %}
        <div class="text-center">
            <h1>Book a tee time!</h1>
            <br>
            <p id="date">Please select a date to view available times:</p>
            <br>
        </div>
        {{ form }}

        <!-- display for when incorrect date selected (validated by script.js) -->
        <div id="error_container" class="d-none padding-25 text-center">
            <p id="date_error"></p>
        </div>

        <!-- action buttons -->
        <div id="booking_submit" class="text-center">
            <button type="submit" class="active-btn btn btn-secondary">View Available Times -></button>
        </div>
        <div class="text-center">
            <a class="back-btn btn btn-secondary" href="{% url 'view_bookings' %} ">Back to View Bookings</a>
        </div>

    </form>
</section>

{% endblock %}