{% extends "general/base.html" %}
{% load static %}
{% block title %} Woodland Heath Golf Club - Member Zone {% endblock %}

{% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway" />
</div>

<div class="padding-25 row justify-content-center">
    <div
        class="row rounded-top-4 rounded-bottom-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
        <div class="text-center">
            <h1>Current Bookings</h1>
            <br>
            <br>
        </div>

        <div>

            {% for booking in bookings %}
            <div class="booking-display text-center">
                <p class="booking-info">Date of Booking: {{booking.booking_date}}</p><br>
                <p class="booking-info">Time of Booking: {{booking.booking_time}}</p><br>
                <p class="booking-info">Number of Players: {{booking.number_players}}</p><br><br>
                <p class="booking-info"><a href='edit_booking/{{booking.id}}'>Edit Players</a></p>
                <p class="booking-info"><a href='delete_bookings/{{booking.id}}'>Cancel Booking</a></p>
            </div>
            {% empty %}
            <div class="text-center">
                <p>You have no booked tee times!</p>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <br>
            <br>
            <i class="fa-solid fa-golf-ball-tee fa-lg"></i>
        </div>
        <a class="back-btn btn btn-secondary" href="{% url 'memberzone' %}">
            Back to Member Zone Page</a>

    </div>
</div>

{% endblock %}