{% extends "general/base.html" %}
{% load static %}
{% block title %} Woodland Heath Golf Club - Member Zone {% endblock %}

{% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway" />
</div>

<div class="padding-25 row justify-content-center">
    <div
        class="row rounded-top-4 rounded-bottom-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
        <div class="text-center">
            <h1>Current Bookings</h1>
            <br>
            <br>
        </div>

        <table>
            <tr>
                <th>Booking <br>Date</th>
                <th>Booking <br>Time</th>
                <th>Number of <br>Players</th>
                <th>Cancel <br>Booking</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{booking.booking_date}}</td>
                <td>{{booking.booking_time}}</td>
                <td>{{booking.number_players}}</td>
                <td><a href='delete_bookings/{{booking.id}}'>Cancel Booking</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>You have no booked tee times!</td>
            </tr>
            {% endfor %}
        </table>

        <div class="text-center">
            <br>
            <br>
            <i class="fa-solid fa-golf-ball-tee fa-lg"></i>
        </div>
        <a class="member-btn btn btn-secondary" href="{% url 'memberzone' %}">
            Back to Member Zone Page</a>

    </div>
</div>

{% endblock %}