{% extends "general/base.html" %}
{% load static %}

{% block title %}
Woodland Heath Golf Club - Login
{% endblock %}

{% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway">
</div>


<form action="" method="POST" class="padding-25 row">
    {% csrf_token %}



    <div class="row justify-content-center">
        <div class="rounded-top-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10 text-center">
            {% if messages %}
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}

                {% endif %}
                <h1>Login</h1>
                <br>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
            <br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <br>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="rounded-bottom-4 padding-25 bg-light text-dark bg-opacity-75 col-md-6 col-sm-8 col-10 text-center">
            <button type="submit" class="active-btn btn btn-secondary">Let's go!</button>
        </div>
    </div>
</form>

{% endblock %}