{% extends "general/base.html" %}
{% load static %}

{% block title %}
Woodland Heath Golf Club - Register
{% endblock %}

{% block content %}

<div>
    <img id="background-img" src="{% static 'images/golfcourse-1.jpg' %}" class="d-block w-100 min-vh-100 landing_img"
        alt="Golf Course Fairway">
</div>

<section class="container-sm rounded-top-4 rounded-bottom-4 padding-25 margin-25px bg-light text-dark bg-opacity-75
    justify-content-center text-center" id="register-container">

    <!-- Registration form for new user -->
    <form action="" method="POST" class="row justify-content-center margin-auto col-lg-6 col-10">
        {% csrf_token %}
        <div class="text-center">
            <h1>Register</h1>
            <br>
        </div>

        {{ form }}
        <div class="padding-25 text-center">
            <button type="submit" class="active-btn btn btn-secondary">Let's go!</button>
        </div>
    </form>
</section>

{% endblock %}